{% extends 'base1.html.twig' %}

{% block content %}
	<div class="content">
		<div class="row">
			<div class="col-sm-7">
				<div class="card">
					<div class="card-body">
						<form action="{{ path('account') }}" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<label for="company">Business Name</label>
								<input type="text" class="form-control" id="company" name="company" value="{{ user.company }}">
							</div>
							<div class="form-group">
								<label for="address">Address</label>
								<input type="text" class="form-control" id="address" name="address" value="{{ user.address }}">
							</div>
							<div class="form-group">
								<label for="state">State</label>
								<input type="text" class="form-control" id="state" name="state" value="{{ user.state }}">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" class="form-control" id="email" disabled value="{{ user.email }}">
							</div>
							<div class="form-group">
								<label for="telephone">Telephone</label>
								<input type="text" class="form-control" id="telephone" name="telephone" value="{{ user.telephone }}">
							</div>
							<div class="form-group">
								<label for="logo">Logo</label>
								<input type="file" class="form-control" id="logo" name="logo">
								{% if user.logo %}
									<div class="current-logo">
										<img src="{{ user.logo }}" alt="Company Logo">
										{# <div class="delete-logo" style=~"margin: auto;">
											<i class="fa fa-times"></i>
										</div> #}
									</div>
								{% endif %}
							</div>
							<button class="btn btn-primary">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}